.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.form{
    background-color: #f5f5f5;
    padding-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.label{
    color: #333;
}

.input{
border: 0;
border-bottom: 1px solid #ccc;
margin-bottom: 15px;
}
.button {
    background-color: #d40a44;
    color: #fff;
    border-radius:5px ;
    border: 0;
    height: 25px;
    width: 55px;

}